<div class="room-list">
<h1>Bloc Chat</h1>
    <div ng-repeat="room in home.rooms">
    <h3 ng-click="home.selectRoom(room)">{{ room.name }}<h3>
    </div>
    <div class="create-room">
        <h4>Create New Chat Room:</h4>
        <div>
            <input ng-model="home.roomName">
            <input type="submit" value="Create" ng-click="home.addRoom()">
        </div>
    </div>
</div>
<div class="messages-container">
    <h1>{{ home.currentRoom.name }}</h1>
        <div ng-repeat="message in home.messages">
            <div class="time"> {{ message.time | date:'short'}}</div>
            <div class="username">{{ home.user }}</div>
            <div class="content">{{ message.content }}</div>
            
         </div>
</div>

    <form class="message-field" ng-submit="home.sendMessage()">
        <input type="text" name="input" placeholder="Type your message here" ng-model="home.newMessage.content" style="width:500px;">
        <button>Send Message</button>
    </div>
    </form>
</div>

